<div>
  <ion-header>
  <ion-toolbar>

    <div class="toolbar">
      <ion-img [routerLink]="['/acc']" src="../../../assets/Imagens/cena2.png" class="rounded"></ion-img><ion-title>CenaPlay</ion-title>

  
</div>

</ion-toolbar>
</ion-header>
</div>

<ion-content padding class="background">
  <br>
  <br>
  <br>
  <div class="login-class">

  <ion-item fill="outline">
    <ion-label position="floating"><ion-text color="light">NOME</ion-text></ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
  <br>
  <ion-item fill="outline">
    <ion-label position="floating"><ion-text color="light">CPF</ion-text></ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
  <br>
  <ion-item fill="outline">
    <ion-label position="floating"><ion-text color="light">NUMERO CARTAO</ion-text></ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
  <br>
  <ion-item fill="outline">
    <ion-label position="floating"><ion-text color="light">VALIDADE CARTAO</ion-text></ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
  <br>
  <ion-item fill="outline">
    <ion-label position="floating"><ion-text color="light">CVV</ion-text></ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
  <br>
  <ion-button [routerLink]="['/finalizada']" color="success">Finalizar Compra!!</ion-button>
</div>

</ion-content>



<ion-footer>

</ion-footer>