<div>
  <ion-header>
  <ion-toolbar>

    <div class="toolbar">
      <ion-img [routerLink]="['/acc']" src="../../../assets/Imagens/cena2.png" class="rounded"></ion-img><ion-title>CenaPlay</ion-title>

  
</div>

</ion-toolbar>
</ion-header>
</div>

<ion-content padding class="background">

  <ion-text color="light"><h1>THOR: ARMOR E TROVÃO</h1></ion-text>
<ion-grid>

<div style=" text-align: start; justify-content: start;">
  <ion-row>
    <ion-col size="12" size-sm="6"><iframe width="900" height="600" src="https://www.youtube.com/embed/1c_W_4cNLn0" title="Thor: Amor e Trovão | Marvel Studios | Trailer Oficial Dublado" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></ion-col>
    <ion-col size="12" size-sm="6"><ion-text color="light"><h3>Sobre este filme:<br> Thor: Amor e Trovão é quarta aventura solo de Thor (Chris Hemsworth), personagem da Marvel, sendo a sequência direta de Thor: Ragnarok e o 29º filme do Universo Cinematográfico Marvel. Após os acontecimentos de Ultimato, Thor ansiando por um propósito, retorna a Nova Asgard e sua aposentadoria é interrompida por um assassino galáctico conhecido como Gorr (Christian Bale), o Carniceiro de Deus, que busca a extinção dos deuses. Para combater a ameaça, Thor pede a ajuda da Rainha Valquíria (Tessa Thompson), Korg (Taika Waititi) e Jane Foster (Natalie Portman), sua ex-namorada, que - para surpresa de Thor - inexplicavelmente consegue empunhar seu martelo mágico, Mjolnir, o que imbuiu Jane com o poder de Thor. Juntos, eles embarcam em uma aventura cósmica para descobrir o mistério da vingança do God Butcher e detê-lo antes que seja tarde demais.</h3></ion-text>
      <ion-text color="light"><h3>Elenco:<br> Chris Hemsworth, Natalie Portman, Christian Bale</h3></ion-text><ion-button [routerLink]="['/compra']" color="success">Comprar</ion-button></ion-col>
    </ion-row>
    
    </div>

</ion-grid>


</ion-content>



<ion-footer>

</ion-footer>