.toolbar {
  padding: 1.5%;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.vertical-center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ion-content.background{
  --ion-background-color:black;
}