<div>
  <ion-header>
  <ion-toolbar>

    <div class="toolbar">
      <ion-img [routerLink]="['/acc']" src="../../../assets/Imagens/cena2.png" class="rounded"></ion-img><ion-title>CenaPlay</ion-title>

  
</div>

</ion-toolbar>
</ion-header>
</div>

<ion-content padding class="background">
  <ion-grid>
    <div class="vertical-center">
      <ion-row>
        <br>
        <ion-col size="12" size-sm="12"><ion-img src="../../../assets/Imagens/finalizado.png" class="rounded" width="10%" height="10%"></ion-img></ion-col>
      </ion-row>
    </div>
    <div class="vertical-center">
    <ion-text color="success">
      <h1>!!! COMPRA FINALIZADA COM SUCESSO !!!</h1>
    </ion-text>
  </div>
  <div class="vertical-center">
    <ion-text color="success"><br><br>
      <ion-button (click)="Feedback()" color="success">Avaliar Compra</ion-button>
    </ion-text>
  </div>
  </ion-grid>



<ion-footer>

</ion-footer>