<ion-header>
  <ion-toolbar>

    <div class="toolbar">
    <ion-title>CenaPlay</ion-title>

  
  <ion-chip class="usuario">
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label >Chip Avatar</ion-label>
  </ion-chip>
</div>

</ion-toolbar>
</ion-header>

<h1>Lançamentos</h1>
<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm="3"><img src="https://br.web.img3.acsta.net/pictures/22/11/30/19/53/5856320.jpg" class="rounded" width="60%" height="60%"><br><h5 class="nome-preco">xxxxxxx R$xxx,xx</h5></ion-col>
    <ion-col size="12" size-sm="3"><img src="https://br.web.img3.acsta.net/pictures/22/11/30/19/53/5856320.jpg" class="rounded" width="60%" height="60%"><br><h5 class="nome-preco">xxxxxxx R$xxx,xx</h5></ion-col>
    <ion-col size="12" size-sm="3"><img src="https://br.web.img3.acsta.net/pictures/22/11/30/19/53/5856320.jpg" class="rounded" width="60%" height="60%"><br><h5 class="nome-preco">xxxxxxx R$xxx,xx</h5></ion-col>
    <ion-col size="12" size-sm="3"><img src="https://br.web.img3.acsta.net/pictures/22/11/30/19/53/5856320.jpg" class="rounded" width="60%" height="60%"><br><h5 class="nome-preco">xxxxxxx R$xxx,xx</h5></ion-col>
  </ion-row>
  <div>
  <label>Em alta</label>
    <ion-row>
      <ion-col size="12" size-sm="3"><img src="https://br.web.img3.acsta.net/pictures/22/11/30/19/53/5856320.jpg" class="rounded" width="50%" height="50%"><br><h5 class="nome-preco2">xxxxxxx R$xxx,xx</h5></ion-col>
      <ion-col size="12" size-sm="3"><img src="https://br.web.img3.acsta.net/pictures/22/11/30/19/53/5856320.jpg" class="rounded" width="50%" height="50%"><br><h5 class="nome-preco2">xxxxxxx R$xxx,xx</h5></ion-col>
      <ion-col size="12" size-sm="3"><img src="https://br.web.img3.acsta.net/pictures/22/11/30/19/53/5856320.jpg" class="rounded" width="50%" height="50%"><br><h5 class="nome-preco2">xxxxxxx R$xxx,xx</h5></ion-col>
      <ion-col size="12" size-sm="3"><img src="https://br.web.img3.acsta.net/pictures/22/11/30/19/53/5856320.jpg" class="rounded" width="50%" height="50%"><br><h5 class="nome-preco2">xxxxxxx R$xxx,xx</h5></ion-col>
    </ion-row>
  </div>
</ion-grid>






<ion-footer>
  <ion-toolbar>
    <ion-title>Footer Toolbar</ion-title>
  </ion-toolbar>
</ion-footer>