<ion-toolbar>

  <div class="toolbar">
    <ion-img [routerLink]="['/home']" src="../../../assets/Imagens/cena2.png" class="rounded"></ion-img><ion-title>CenaPlay</ion-title>


</div>

</ion-toolbar>
<ion-content padding class="background">
<div class="login-class">
  <ion-item fill="outline">
    <ion-col size="6" size-sm="3"><ion-label position="floating">Email</ion-label></ion-col>
    <ion-input type="email" ngModel email></ion-input>
  </ion-item>
<br>
  <ion-item fill="outline">
    <ion-label position="floating">Senha</ion-label>
    <ion-input type="password" ngModel password></ion-input>
  </ion-item>
  <br>
  <ion-button [routerLink]="['/acc']" color="success">Logar</ion-button>
</div>  


</ion-content>





<ion-footer>

</ion-footer>